/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require ionicons
 */


 .stars{
   unicode-bidi: bidi-override;
   direction:rtl;
   text-align: left;
   font-size: 30px;
   display:inline-flex;
 }
 .stars > span:before{
   content: "\f006";
   cursor:pointer;
 }
 .stars > span:hover:before,
 .stars > span:hover ~ span:before{
   content: "\f005";
   color:#DAA520;
 }
 .stars-rating{
   margin-bottom:15px;
 }
 .stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size:30px;
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006 \f006 \f006 \f006 \f006 \f006";
}
.stars-inner{
  position:absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
  color:#DAA520;
}
.rate{
  font-size: 30px;
    display: inline-block;
    color: #DAA520;
    margin-left:10px;
}

/*sorting arrows*/

.rating-header{
  display:inline-flex;
}
.sorting-arrows{
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}
.sorting-arrows a{
  height:0px;
}

/*books search form*/
.search-form{
  margin-bottom: 30px;
}
#title{
  margin-bottom: 20px;
}
.input-group{
  width: 100%;
}
/*reviews style */

.reviews-section .form-group{
  margin-bottom:0;
}
.reviews{
  margin-top: 30px;
}
.review{
  border-bottom: 1px solid #999999;
  display: flex;
  flex-direction: row;
  margin-top:20px;
}
.review-content{
  width:90%;
}
.review-buttons-section{
  text-align:center;
}
.deleting-review{
  margin: auto;
  margin-top:35%;
}
.current-user{
  color:#777777;
  display:inline-block;
  margin-top: 15px;
float: right;
}
